default_language_version:
  python: python3.7
repos:
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.1
    hooks:
      - id: flake8
      - id: trailing-whitespace
        exclude: ".svg"
