.wy-nav-content {
    max-width: 1000px !important;
}

.wy-side-nav-search {
    background-color: #2980B9 !important;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #3a7ca8 !important;
}
