.wy-nav-content {
    max-width: 1000px !important;
}

.wy-side-nav-search {
    background-color: #b32525 !important;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #b32525 !important;
}
